<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= Final.FullName %></title>             <!--Title Name-->                              
	
	 <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> <!-- Fontawesome-->
    <link rel="stylesheet" href="css/student.css" >                     <!--CSS LINK-->
</head>
<body>
	<div class="wrapper">
		<div class="resume">
			<div class="left">
				<!-- uncomment for adding image -->
				<!-- <div class="img_holder">
					<img src="#">     
				</div> -->
				<div class="contact_wrap pb" style="padding-top: 30px">
					<div class="title" > 
						Contact
					</div>
					<div class="contact">
						<ul>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-mobile-alt" aria-hidden="true" href="tel:<%= Final.Contact %>"></i></div>
									<div class="text"><%= Final.Contact %></div>    <!--Phone Number-->
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-envelope" aria-hidden="true" href="mailto:<%= Final.Email %>"></i></div>
									<div class="text"><%= Final.Email %></div>             <!--Gmail acccount of user-->
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fab fa-weebly" aria-hidden="true"  href="<%= Final.Linkdn %>"></i></div>
									<div class="text"><%= Final.Linkdn %></div>              <!--Linkedln Profile-->
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="skills_wrap pb">
					<!--Skill division we can add more-->
					<!-- Here How we will decide hobbies according to user-->
					<div class="title">
						Skills
					</div>
					<div class="skills">
						<!-- Add Skills here -->
						<ul>
                        <% Skills.forEach(function(element){ %>
							<li>
								<div class="li_wrap">
									<div class="text"><b><%= element %></b></div>
								</div>
							</li>
							<% }); %>
						</ul>
					</div>
				</div>
				<!--Skill close-->

				<div class="hobbies_wrap pb">
					<!--Hobbies Section-->
					<!-- Here How we will decide hobbies according to user-->
					<div class="title">
						hobbies
					</div>
					<div class="hobbies">
						<ul>
							<% Hobbies.forEach(function(element){ %>
							<li>
								<div class="li_wrap">
									<div class="text"><b><%= element %></b></div>
								</div>
							</li>
							<% }); %>
						</ul>
					</div>
				</div>
			</div>
			<!--Hobbies Section over-->
			<div class="right">
				<div class="header">
					<div class="name_role">
						<div class="name">
						<%=  Final.FullName  %>	
						</div>
						<div class="role">
						<%= Final.College_Info.NOC %> <br>
						<%= Final.Spec %>	
						</div>
					</div>
					<div class="about">
					    <%= Final.UserInfo %>
					</div>
				</div>
				<div class="right_inner">
					<div class="exp">
						<div class="title">
							Projects
						</div>
						<div class="exp_wrap">
							<ul>
						<% Projects.forEach(function(element){ %>		
								<li>
									<div class="li_wrap">
										<div class="date">
										<%= element.Name %>	
										</div>
										<div class="info">
											<p class="info_title">
												<%= element.Name %>
											</p>
											<p class="info_com">
												<%= element.link %> 
												<!--how we add user git link-->
											</p>
											<p class="info_cont">
												<%= element.Desc %>
											</p>
										</div>
									</div>
								</li>
								<% }); %>
								<!-- Projects ends -->
							</ul>
						</div>
					</div>
					<div class="education">
						<div class="title">
						Education
						</div>
						<div class="education_wrap">
					
							<ul>
								<li>
									<div class="li_wrap">
										<div class="date">
										<%= Final.College_Info.YOG %>
										</div>
										<div class="info">
											<p class="info_title">
										<%= Final.Course %>	
											</p>
											<p class="info_com">
										<%= Final.Spec %>
											</p>
											<p class="info_cont">
										<b>CPI: </b> <%= Final.College_Info.CPI %>
											</p>
										</div>
									</div>
								</li>						
<!-- Schools -->
								<li>
										
									<div class="li_wrap">
										<div class="date">
										<%= Final.School_Info.YOS %>
										</div>
										<div class="info">
											<p class="info_title">
											Schooling
											</p>
											<p class="info_com">
										<%= Final.School_Info.Name %>	
											</p>
											<p class="info_cont">
								        <%= Final.School_Info.CGPA %> 
											</p>
										</div>
									</div>
								</li>
								<!-- Schools -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
