<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= Final.FullName %></title>             <!--Title Name-->                              
	
	 <script src="https://kit.fontawesome.com/b99e675b6e.js"></script> <!-- Fontawesome-->
	 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="css/student.css" >                     <!--CSS LINK-->
    <style>
		#abd{
			position:absolute;
			right: 10px;
			top: 5px;
			
		}
		#set{
			font-size: 25px;
		}
		#null{
			position:sticky;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" id ="null">
		<p id="set"><b><%=  Final.FullName  %> Profile!!</b></p>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			<li class="nav-item">
				<a class="btn btn-light btn-lg" id="abd"  href="/student_page" role="button">Previous Page</a>
			</li>
			
		  </ul>
		</div>
	  </nav>
	<div class="wrapper">
		<div class="resume">
			<div class="left">
				<!-- uncomment for adding image -->
				<!-- <div class="img_holder">
					<img src="#">     
				</div> -->
				<div class="contact_wrap pb" style="padding-top: 30px">
					<div class="title" > 
						Contact
					</div>
					<div class="contact">
						<ul>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-mobile-alt" aria-hidden="true" href="tel:<%= Final.Contact %>"></i></div>
									<div class="text"><%= Final.Contact %></div>    <!--Phone Number-->
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fas fa-envelope" aria-hidden="true" href="mailto:<%= Final.Email %>"></i></div>
									<div class="text"><%= Final.Email %></div>             <!--Gmail acccount of user-->
								</div>
							</li>
							<li>
								<div class="li_wrap">
									<div class="icon"><i class="fab fa-weebly" aria-hidden="true"  href="<%= Final.Linkdn %>"></i></div>
									<div class="text"><%= Final.Linkdn %></div>              <!--Linkedln Profile-->
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="skills_wrap pb">
					<!--Skill division we can add more-->
					<!-- Here How we will decide hobbies according to user-->
					<div class="title">
						Skills
					</div>
					<div class="skills">
						<!-- Add Skills here -->
						<ul>
                        <% Skills.forEach(function(element){ %>
							<li>
								<div class="li_wrap">
									<div class="text"><b><%= element %></b></div>
								</div>
							</li>
							<% }); %>
						</ul>
					</div>
				</div>
				<!--Skill close-->

				<div class="hobbies_wrap pb">
					<!--Hobbies Section-->
					<!-- Here How we will decide hobbies according to user-->
					<div class="title">
						hobbies
					</div>
					<div class="hobbies">
						<ul>
							<% Hobbies.forEach(function(element){ %>
							<li>
								<div class="li_wrap">
									<div class="text"><b><%= element %></b></div>
								</div>
							</li>
							<% }); %>
						</ul>
					</div>
				</div>
			</div>
			<!--Hobbies Section over-->
			<div class="right">
				<div class="header">
					<div class="name_role">
						<div class="name">
						<%=  Final.FullName  %>	
						</div>
						<div class="role">
						<%= Final.College_Info.NOC %> <br>
						<%= Final.Spec %>	
						</div>
					</div>
					<div class="about">
					    <%= Final.UserInfo %>
					</div>
				</div>
				<div class="right_inner">
					<div class="exp">
						<div class="title">
							Projects
						</div>
						<div class="exp_wrap">
							<ul>
						<% Projects.forEach(function(element){ %>		
								<li>
									<div class="li_wrap">
										<div class="date">
										<%= element.Name %>	
										</div>
										<div class="info">
											<p class="info_title">
												<%= element.Name %>
											</p>
											<p class="info_com">
												<%= element.link %> 
												<!--how we add user git link-->
											</p>
											<p class="info_cont">
												<%= element.Desc %>
											</p>
										</div>
									</div>
								</li>
								<% }); %>
								<!-- Projects ends -->
							</ul>
						</div>
					</div>
					<div class="education">
						<div class="title">
						Education
						</div>
						<div class="education_wrap">
					
							<ul>
								<li>
									<div class="li_wrap">
										<div class="date">
										<%= Final.College_Info.YOG %>
										</div>
										<div class="info">
											<p class="info_title">
										<%= Final.Course %>	
											</p>
											<p class="info_com">
										<%= Final.Spec %>
											</p>
											<p class="info_cont">
										<b>CPI: </b> <%= Final.College_Info.CPI %>
											</p>
										</div>
									</div>
								</li>						
<!-- Schools -->
								<li>
										
									<div class="li_wrap">
										<div class="date">
										<%= Final.School_Info.YOS %>
										</div>
										<div class="info">
											<p class="info_title">
											Schooling
											</p>
											<p class="info_com">
										<%= Final.School_Info.Name %>	
											</p>
											<p class="info_cont">
								        <%= Final.School_Info.CGPA %> 
											</p>
										</div>
									</div>
								</li>
								<!-- Schools -->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>
